<!doctype html>
<html lang="en">

<head>

{{ partial "meta.html" . }}
{{ partial "style.html" . }}

</head>

<body>

<main>

{{ partial "profile.html" . }}

<br>

<div class="content">

<h4>⚡ Performance ⚡</h4>
<a href="https://web.dev/measure/?url=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener">Measure</a>
<br>
<a href="https://pagespeed.web.dev/report?url=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener">PageSpeed</a>
<br>
<a href="https://pwabuilder.com/reportcard?site=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener">PWA Builder</a>
<br>
<a href="https://seositecheckup.com/seo-audit/{{ .Site.Params.Domain }}" target="_blank" rel="noopener">Website Audit</a>
<br>
<a href="https://website.grader.com/tests/{{ .Site.Params.Domain }}" target="_blank" rel="noopener">Website Grader</a>
<br>

<h4>🔰 Security 🔰</h4>
<a href="https://ssllabs.com/ssltest/analyze.html?d={{ .Site.Params.Domain }}" target="_blank" rel="noopener">SSL Labs</a>
<br>
<a href="https://sitecheck.sucuri.net/results/{{ .Site.Params.Domain }}" target="_blank" rel="noopener">SiteCheck</a>
<br>
<a href="https://hardenize.com/report/{{ .Site.Params.Domain }}" target="_blank" rel="noopener">Hardenize</a>
<br>
<a href="https://observatory.mozilla.org/analyze/{{ .Site.Params.Domain }}" target="_blank" rel="noopener">Observatory</a>
<br>
<a href="https://securityheaders.com/?q=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener">Security Headers</a>
<br>

<h4>🏅 Validator 🏅</h4>
<a href="https://safeweb.norton.com/report/show?url={{ .Site.Params.Domain }}" target="_blank" rel="noopener">SafeWeb</a>
<br>
<a href="https://secure.sitelock.com/public/verify/{{ .Site.Params.Domain }}" target="_blank" rel="noopener">SiteLock</a>
<br>
<a href="https://trustedsite.com/verify?host={{ .Site.Params.Domain }}" target="_blank" rel="noopener">TrustedSite</a>
<br>
<a href="https://validator.nu/?doc=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener">W3C Validtor</a>
<br>
<br>

<a href="https://bytecheck.com/results?resource={{ .Site.Params.Domain }}" target="_blank" rel="noopener"><img alt="Uptime" src="https://img.shields.io/website?url=https://{{ .Site.Params.Domain }}"></a>
<a href="https://urlvoid.com/scan/{{ .Site.Params.Domain }}" target="_blank" rel="noopener"><img alt="URLVoid" src="https://img.shields.io/badge/urlvoid-safe-success"></a>
<a href="https://validator.nu/?doc=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener"><img alt="Validator" src="https://img.shields.io/w3c-validation/default?targetUrl=https://{{ .Site.Params.Domain }}"></a>
<a href="https://pagespeed.web.dev/report?url=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener"><img alt="PageSpeed" src="https://img.shields.io/badge/pagespeed-✓-success"></a>
<a href="https://observatory.mozilla.org/analyze/{{ .Site.Params.Domain }}" target="_blank" rel="noopener"><img alt="Observatory" src="https://img.shields.io/mozilla-observatory/grade/{{ .Site.Params.Domain }}"></a>
<a href="https://securityheaders.com/?q=https://{{ .Site.Params.Domain }}" target="_blank" rel="noopener"><img alt="Security Headers" src="https://img.shields.io/security-headers?url=https://{{ .Site.Params.Domain }}"></a>
<br>
<br>

<a href="https://pagespeed.web.dev/report?url=https://angora.id"><img alt="PageSpeed" src="{{ .Site.BaseURL }}pagespeed.svg"></a>
<br>
<br>

</div>

</main>

<div class="copyright">
<a href="{{ .Site.Params.CopyrightLink }}" target="_blank" rel="noopener">{{ .Site.Params.Copyright }}</a>
</div>

</body>

</html>
