<!doctype html>
<html lang="en">

<head>

{{ partial "meta.html" . }}
{{ partial "style.html" . }}

</head>

<body>

<main>

{{ partial "profile.html" . }}

<br>

<div class="content">

<a class="twitter-timeline" 
href="https://twitter.com/BayuAngora"
data-chrome="noheader nofooter"
data-border-color="fff"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>

</div>

</main>

<div class="copyright">
<a href="{{ .Site.Params.CopyrightLink }}" target="_blank" rel="noopener">{{ .Site.Params.Copyright }}</a>
</div>

</body>

</html>
