<div>
<a href="{{ .Site.BaseURL }}">
<img class="profile" alt="{{ .Site.Title }}" src="/favicon.png">
</a>
</div>

<h1 class="title">{{ .Site.Title }}</h1>
<h2 class="description">{{ .Site.Params.Description }}</h2>

<div class="menu">
<a href="{{ .Site.Params.Menu1 | absURL }}"><img class="menu-icon" alt="{{ .Site.Params.Menu1 }}" src="/{{ .Site.Params.Menu1 }}.svg"></a>
<a href="{{ .Site.Params.Menu2 | absURL }}"><img class="menu-icon" alt="{{ .Site.Params.Menu2 }}" src="/{{ .Site.Params.Menu2 }}.svg"></a>
<a href="{{ .Site.Params.Menu3 | absURL }}"><img class="menu-icon" alt="{{ .Site.Params.Menu3 }}" src="/{{ .Site.Params.Menu3 }}.svg"></a>
</div>
