html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color:transparent;
}
::selection {
color: #e00;
background: #000;
}
body {
background-position: top center;
background-size: 100%;
background: #000;
width: 100%;
max-width: 720px;
margin: auto;
color: #fff;
text-align: center;
font-family: font, sans-serif;
}
main {
display: flex;
flex-direction: column;
justify-content: center;
min-height: 100vh;
align-items: center;
animation: fadeUp 1s;
}
.hidden {
display: none;
}
.profile {
width: 10rem;
height: 10rem;
margin: 16px auto;
border-radius: 50%;
}
.menu, .menu a {
display: flex;
justify-content: center;
width: 85%;
margin: 0 24px;
padding: 7px;
color: #000;
background: #fff;
border-radius: .5rem;
font-size: 1.5rem;
font-weight: 700;
text-decoration: none;
transition: color 1s ease;
}
.menu a:hover, .menu:hover {
color: #e00;
}
.menu-icon {
width: 1.75rem;
margin :auto;
fill: #000;
vertical-align: middle;
transition: fill 1s ease;
}
.source, .source a {
max-width: 720px;
margin: -12px auto 12px;
padding: 8px;
text-align: center;
transition: color 1s ease;
}
.source-icon {
width: 2.5rem;
margin:bauto;
fill: #fff;
transition: fill 1s ease;
}
.source-icon:hover {
fill:#e00;
}
.copyright, .copyright a {
margin: 0 auto 12px;
color: #fff;
font-size: .75rem;
font-weight: 700;
text-align:bcenter;
text-decoration: none;
transition: color 1s ease;
}
.copyright a:hover, .copyright:hover {
color: #e00;
}
@font-face {
font-family: font;
font-display: swap;
src: url(https://angora.id/port.woff2);
}
@keyframes fadeUp {
from {
opacity: 0;
transform: translate3d(0,5px,0);
}
to {
opacity: 1;
transform: translate3d(0,0,0);
}
}
