<style>
html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color: transparent;
}
* {
font-family: "font", sans-serif;
font-weight: 700;
text-decoration: none;
outline: none;
transition: color 1s, background 1s, border 1s, text-shadow 1s;
}
::selection {
color: #e00;
background: transparent;
text-shadow: .4px .4px .2px #222;
}
body {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 50rem;
min-height: 100vh;
margin: auto;
color: #ddd;
background: #000;
text-align: center;
}
main {
padding: 1rem 1.5rem;
animation: fadeUp 1s;
}
.profile {
width: 8rem;
height: 8rem;
margin: 1rem auto 0;
border-radius: 50%;
}
.box, .menu, .search {
color: #000;
background: #ddd;
border: .1rem solid #ddd;
border-radius: .5rem;
box-sizing: border-box;
}
.box {
width: 100%;
margin: 0 0 -1rem;
padding: 1rem 0;
font-size: 1.2rem;
}
.menu, .menu a {
display: flex;
width: 100%;
padding: .35rem 0 .5rem;
color: #000;
font-size: 1.5rem;
}
.menu .left, .menu .right {
width: 1.5rem;
padding: 0 1rem;
fill: #000;
}
.menu .left {
margin-right: auto;
}
.menu .right {
margin-left: auto;
}
.search {
width: 85%;
line-height: 1.25;
text-align: center;
margin: 1rem auto .5rem;
padding: .8rem 0 1rem;
font-size: 1.2rem;
}
.link, .link a {
margin: -.7rem auto -.3rem;
padding: .5rem;
}
.link .icon {
width: 3rem;
fill: #ddd;
transition: fill 1s;
}
.copyright, .copyright a {
max-height: 100%;
margin: 0 auto 1rem;
font-size: .8rem;
}
.menu:hover,
.menu a:hover,
.link .icon:hover,
.copyright:hover,
.copyright a:hover {
fill: #e00;
color: #e00;
text-shadow: .4px .4px .2px #222;
}
@font-face {
font-family: "font";
font-display: swap;
src: url("https://angora.twic.pics/font.woff2");
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
@keyframes fadeUp {
from { opacity: 0; transform: translate3d(0,.5rem,0); }
to { opacity: 1; transform: translate3d(0,0,0); }
}
.motion li {
display: block;
position: fixed;
top: 0%;
z-index: -1;
width: .1rem;
background: #ddd;
animation: animate 10s linear infinite;
}
.motion li:nth-child(1) {
left: 0%;
height: 8rem;
animation-duration: 20s;
}
.motion li:nth-child(2) {
left: 15%;
height: 4rem;
animation-duration: 12s;
}
.motion li:nth-child(3) {
left: 30%;
height: 6rem;
animation-duration: 16s;
}
.motion li:nth-child(4) {
left: 45%;
height: 2rem;
animation-duration: 8s;
}
.motion li:nth-child(5) {
right: 0%;
height: 2rem;
animation-duration: 6s;
}
.motion li:nth-child(6) {
right: 15%;
height: 8rem;
animation-duration: 18s;
}
.motion li:nth-child(7) {
right: 30%;
height: 4rem;
animation-duration: 10s;
}
.motion li:nth-child(8) {
right: 45%;
height: 6rem;
animation-duration: 14s;
}
@keyframes animate {
0% { transform: rotate(150deg) translateY(0);
opacity: .5; border-radius: 50%; }
100% { transform: rotate(150deg) translateY(-100rem);
opacity: 0; border-radius: 50%; }
}
</style>

<style>
html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color: transparent;
}
* {
font-family: "font", sans-serif;
text-decoration: none;
outline: none;
transition: color 1s, background 1s, border 1s, text-shadow 1s;
}
::selection {
color: #e00;
background: transparent;
text-shadow: .4px .4px .2px #222;
}
body {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 50rem;
line-height: 1.4;
margin: auto;
background: #ddd;
}
main {
padding: 1rem 1.5rem;
animation: fadeUp 1s;
}
h1, h2, h3, h4, h5, h6, p, a, b {
margin: 0 0 .5rem;
color: #000;
}
h1, h2, h3, h4, h5, h6, p, b {
animation: fadeIn 1s;
}
h1, h2, h3 {
font-size: 1.5rem;
}
h4, h5, h6, p, a {
font-size: 1.2rem;
}
hr {
margin: 1rem auto;
border: .05rem solid #000;
}
img {
width: 100%;
margin: .25rem auto;
border-radius: .5rem;
animation: fadeIn 1s;
}
.center {
margin: 0 auto -.25rem;
text-align: center;
}
.justify {
text-align: justify;
}
.hollow {
opacity: 0;
}
.icon {
width: 3rem;
fill: #000;
transition: fill 1s;
}
.menu, .menu a {
margin: 1rem auto -.5rem;
padding: 0 .5rem;
text-align: center;
}
.title {
margin: .5rem 1.5rem -.25rem;
}
.content {
margin: .5rem 1.5rem 1rem;
}
.content p, .content a {
text-shadow: .4px .4px .2px #222;
}
.box, .search, .pagination a {
color: #000;
background: #fff;
border: .1rem solid rgba(250,250,250,.25);
border-radius: .5rem;
box-sizing: border-box;
}
.box {
margin: 0 0 1rem;
padding: .5rem 0;
}
.button {
background: #ddd;
}
.button, .search {
width: 100%;
padding: .8rem 0 1rem;
font-size: 1.2rem;
}
.button, .search,
.copyright, .copyright a {
line-height: 1.25;
font-weight: 700;
text-align: center;
text-shadow: none;
}
.pagination {
display: flex;
margin: -.4rem auto -.2rem;
}
.pagination a {
padding: .1rem 1.2rem;
font-size: 2rem;
font-weight: 700;
}
.pagination .left {
margin-right: auto;
}
.pagination .right {
margin-left: auto;
}
.favicon {
width: 3rem;
margin: 0 auto .1rem;
}
.favicon img {
border-radius: 0;
animation: heartbeat 1.2s infinite;
}
.link, .link a {
margin: -1rem auto -.5rem;
padding: .5rem;
text-align: center;
}
.copyright, .copyright a {
max-height: 100%;
margin: 0 auto 1rem;
font-size: .8rem;
}
a *:hover,
.title a:hover,
.content a:hover,
.pagination a:hover,
.copyright a:hover,
.mode a *:hover,
.mode .content a:hover,
.mode .pagination a:hover,
.mode .copyright a:hover {
fill: #e00;
color: #e00;
text-shadow: .4px .4px .2px #222;
}
.mode, .mode .button {
background: #000;
}
.mode h1, .mode h2, .mode h3,
.mode h4, .mode h5, .mode h6,
.mode p, .mode a, .mode b,
.mode .button, .mode .search,
.mode .copyright, .mode .copyright a {
color: #ddd;
}
.mode hr {
border: .05rem solid #ddd;
}
.mode .icon {
fill: #ddd;
}
.mode .box, .mode .search,
.mode .pagination a {
background: #222;
}
@font-face {
font-family: "font";
font-display: swap;
src: url("https://angora.twic.pics/font.woff2");
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
@keyframes fadeUp {
from { opacity: 0; transform: translate3d(0,.5rem,0); }
to { opacity: 1; transform: translate3d(0,0,0); }
}
@keyframes heartbeat {
0% { transform: scale(1); }
25% { transform: scale(1.05); }
40% { transform: scale(1); }
60% { transform: scale(1.05); }
100% { transform: scale(1); }
}
.motion li {
position: fixed;
display: block;
top: 0%;
z-index: -1;
width: .1rem;
background: #ddd;
animation: animate 10s linear infinite;
}
.motion li:nth-child(1) {
left: 0%;
height: 8rem;
animation-duration: 20s;
}
.motion li:nth-child(2) {
left: 15%;
height: 4rem;
animation-duration: 12s;
}
.motion li:nth-child(3) {
left: 30%;
height: 6rem;
animation-duration: 16s;
}
.motion li:nth-child(4) {
left: 45%;
height: 2rem;
animation-duration: 8s;
}
.motion li:nth-child(5) {
right: 0%;
height: 2rem;
animation-duration: 6s;
}
.motion li:nth-child(6) {
right: 15%;
height: 8rem;
animation-duration: 18s;
}
.motion li:nth-child(7) {
right: 30%;
height: 4rem;
animation-duration: 10s;
}
.motion li:nth-child(8) {
right: 45%;
height: 6rem;
animation-duration: 14s;
}
@keyframes animate {
0% { transform: rotate(150deg) translateY(0);
opacity: .5; border-radius: 50%; }
100% { transform: rotate(150deg) translateY(-100rem);
opacity: 0; border-radius: 50%; }
}
</style>
