<style>
html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color: transparent;
}
* {
box-sizing: border-box;
font-family: "font", sans-serif;
font-weight: 700;
text-decoration: none;
outline: none;
transition: color 1s, background 1s, border 1s, text-shadow 1s;
}
::selection {
color: #e00;
background: transparent;
text-shadow: .4px .4px .2px #222;
}
body {
max-width: 50rem;
margin: auto;
color: #ddd;
background-position: top center;
background-size: cover;
background: linear-gradient(150deg, rgba(50,0,0,1) 0%, rgba(0,50,50,1) 100%);
text-align: center;
}
main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0 1.5rem;
animation: fadeUp 1s;
}
.profile {
width: 8rem;
height: 8rem;
margin: 1rem auto;
border-radius: 50%;
}
.menu, .menu a {
display: flex;
width: 100%;
}
.menu {
padding: .7rem 1rem 1rem;
}
.menu a {
color: #ddd;
font-size: 1.5rem;
}
.menu-left, .menu-right {
width: 1.5rem;
fill: #ddd;
}
.menu-left {
margin-right: auto;
}
.menu-right {
margin-left: auto;
}
.menu, .search {
color: #ddd;
background: rgba(0,0,0,.5);
border: .1rem solid rgba(250,250,250,.5);
border-radius: .5rem;
}
.search {
width: 100%;
line-height: 1.25;
margin: 0 auto -1rem;
padding: .8rem 2rem 1rem;
font-size: 1.2rem;
text-align: center;
}
.not-found {
margin: .25rem auto 1rem;
}
.source, .source a {
margin: -1rem auto -2rem;
padding: .5rem;
}
.source-icon {
width: 3rem;
fill: #ddd;
vertical-align: middle;
transition: fill 1s;
}
.copyright, .copyright a {
max-height: 100%;
margin: 0 auto 1rem;
font-size: .8rem;
}
.menu:hover,
.menu a:hover,
.source-icon:hover,
.copyright:hover,
.copyright a:hover {
fill: #e00;
color: #e00;
text-shadow: .4px .4px .2px #222;
}
@font-face {
font-family: "font";
font-display: swap;
src: url("/font.woff2");
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
@keyframes fadeUp {
from { opacity: 0; transform: translate3d(0,.5rem,0); }
to { opacity: 1; transform: translate3d(0,0,0); }
}
.motion li {
display: block;
position: fixed;
top: 0%;
z-index: -1;
width: .1rem;
background: #ddd;
animation: animate 10s linear infinite;
}
.motion li:nth-child(1) {
left: 0%;
height: 8rem;
animation-duration: 20s;
}
.motion li:nth-child(2) {
left: 15%;
height: 4rem;
animation-duration: 12s;
}
.motion li:nth-child(3) {
left: 30%;
height: 6rem;
animation-duration: 16s;
}
.motion li:nth-child(4) {
left: 45%;
height: 2rem;
animation-duration: 8s;
}
.motion li:nth-child(5) {
right: 0%;
height: 2rem;
animation-duration: 6s;
}
.motion li:nth-child(6) {
right: 15%;
height: 8rem;
animation-duration: 18s;
}
.motion li:nth-child(7) {
right: 30%;
height: 4rem;
animation-duration: 10s;
}
.motion li:nth-child(8) {
right: 45%;
height: 6rem;
animation-duration: 14s;
}
@keyframes animate {
0% { transform: rotate(150deg) translateY(0);
opacity: .5; border-radius: 50%; }
100% { transform: rotate(150deg) translateY(-100rem);
opacity: 0; border-radius: 50%; }
}
</style>

<style>
html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color: transparent;
}
* {
box-sizing: border-box;
font-family: "font", sans-serif;
text-decoration: none;
outline: none;
transition: color 1s, background 1s, border 1s, text-shadow 1s;
}
::selection {
color: #e00;
background: transparent;
text-shadow: .4px .4px .2px #222;
}
body {
max-width: 50rem;
line-height: 1.4;
margin: auto;
color: #000;
background-position: top center;
background-size: cover;
background: #000;
}
main {
display: block;
padding: 1rem 1.5rem;
animation: fadeUp 1s;
}
h1, h2, h3, h4, h5, h6, p, a, b {
margin: 0 0 .5rem;
color: #ddd;
}
h1, h2, h3, h4, h5, h6, p, b {
animation: fadeIn 1s;
}
h1, h2 {
font-size: 1.5rem;
}
h3, h4 {
font-size: 1.4rem;
}
h5, h6 {
margin: auto;
font-size: 1.3rem;
}
p, a {
font-size: 1.2rem;
}
hr {
margin: 1rem auto;
border: .05rem solid rgba(250,250,250,.5);
}
img {
width: 100%;
margin: .5rem 0 0;
border-radius: .5rem;
animation: fadeIn 1s;
}
.center {
text-align: center;
}
.justify {
text-align: justify;
}
.hollow {
opacity: 0;
}
.menu, .menu a {
margin: 1rem auto 0;
padding: 0 .5rem;
text-align: center;
}
.menu-icon, .source-icon, .source-about {
width: 3rem;
margin: auto;
fill: #ddd;
vertical-align: middle;
transition: fill 1s;
}
.source-about {
margin: -.5rem auto 1rem;
}
.title {
margin: .5rem 1.5rem;
}
.content {
margin: .5rem 1.5rem 1.5rem;
}
.content p, .content a {
text-shadow: .4px .4px .2px #222;
}
.box {
margin: 0 auto 1rem;
padding: .5rem 0 .2rem;
}
.box, .search, .pagination a {
color: #ddd;
background: linear-gradient(150deg, rgba(50,0,0,1) 0%, rgba(0,50,50,1) 100%);
border: .1rem solid rgba(250,250,250,.5);
border-radius: .5rem;
overflow: hidden;
}
.button, .search {
width: 100%;
padding: .8rem 0 1rem;
background: linear-gradient(150deg, rgba(50,0,0,1) 0%, rgba(0,50,50,1) 100%);
border: .1rem solid rgba(250,250,250,.5);
border-radius: .5rem;
font-size: 1.2rem;
}
.button, .search, form,
.copyright, .copyright a {
line-height: 1.25;
color: #ddd;
font-weight: 700;
text-align: center;
text-shadow: none;
}
.heartbeat {
width: 3rem;
margin: -.25rem auto .25rem;
animation: heartbeat 1.2s infinite;
}
.heartbeat img {
border-radius: 0;
}
.pagination {
display: flex;
margin: -.25rem 0rem;
}
.pagination a {
padding: 0 1.1rem;
font-size: 2rem;
font-weight: 700;
}
.pagination .prev {
margin-right: auto;
}
.pagination .next {
margin-left: auto;
}
.source, .source a {
margin: -1rem auto;
padding: .5rem;
text-align: center;
}
.copyright, .copyright a {
max-height: 100%;
margin: 0 auto 1rem;
font-size: .8rem;
}
a *:hover,
.content a:hover,
.pagination a:hover,
.copyright a:hover,
.mode a *:hover,
.mode .content a:hover,
.mode .pagination a:hover,
.mode .copyright a:hover {
fill: #e00;
color: #e00;
text-shadow: .4px .4px .2px #222;
}
.mode {
color: #000;
background: linear-gradient(150deg, rgba(250,100,50,.5) 0%, rgba(50,200,250,.5) 100%);
border: 0;
}
.mode h1, .mode h2,
.mode h3, .mode h4,
.mode h5, .mode h6,
.mode p, .mode a, .mode b {
color: #000;
}
.mode hr {
border: .05rem solid rgba(0,0,0,1);
}
.mode .menu-icon,
.mode .source-icon,
.mode .source-about {
fill: #000;
}
.mode .box,
.mode .search,
.mode .pagination a {
color: #000;
background: rgba(250,250,250,.5);
border: .1rem solid rgba(250,250,250,.5);
}
.mode .button {
background: linear-gradient(150deg, rgba(250,100,50,.5) 0%, rgba(50,200,250,.5) 100%);
border: .1rem solid rgba(250,250,250,.5);
}
.mode .button,
.mode .search,
.mode .copyright,
.mode .copyright a {
color: #000;
text-shadow: none;
}
@font-face {
font-family: "font";
font-display: swap;
src: url("/font.woff2");
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
@keyframes fadeUp {
from { opacity: 0; transform: translate3d(0,.5rem,0); }
to { opacity: 1; transform: translate3d(0,0,0); }
}
@keyframes heartbeat {
0% { transform: scale(1); }
25% { transform: scale(1.05); }
40% { transform: scale(1); }
60% { transform: scale(1.05); }
100% { transform: scale(1); }
}
.motion li {
position: fixed;
display: block;
top: 0%;
z-index: -1;
width: .1rem;
background: #ddd;
animation: animate 10s linear infinite;
}
.motion li:nth-child(1) {
left: 0%;
height: 8rem;
animation-duration: 20s;
}
.motion li:nth-child(2) {
left: 15%;
height: 4rem;
animation-duration: 12s;
}
.motion li:nth-child(3) {
left: 30%;
height: 6rem;
animation-duration: 16s;
}
.motion li:nth-child(4) {
left: 45%;
height: 2rem;
animation-duration: 8s;
}
.motion li:nth-child(5) {
right: 0%;
height: 2rem;
animation-duration: 6s;
}
.motion li:nth-child(6) {
right: 15%;
height: 8rem;
animation-duration: 18s;
}
.motion li:nth-child(7) {
right: 30%;
height: 4rem;
animation-duration: 10s;
}
.motion li:nth-child(8) {
right: 45%;
height: 6rem;
animation-duration: 14s;
}
@keyframes animate {
0% { transform: rotate(150deg) translateY(0);
opacity: .5; border-radius: 50%; }
100% { transform: rotate(150deg) translateY(-100rem);
opacity: 0; border-radius: 50%; }
}
</style>
